params.fasta = ( "/home/labs/aharoni/yedidyab/helicrysum/genome/heli_genome_pctg.fa" )
params.gff = ( "/home/labs/aharoni/yedidyab/helicrysum/genome/heli_genome_pctg.gff" )
params.mainDir = ( "/home/labs/aharoni/yedidyab/counts_pipeline_training/" )

process {


    withName:unZip {
        memory = '25 GB'
        cpus = 20
    }
    
    withName:mergeLfiles {
        memory = '500 MB'
        cpus = 1
    }

    withName:umitools {
        container = 'singularity_img/umitools_final.sif'
        memory = '500 MB'
        cpus = 1

    }
    
    withName:trimGalore {
        container = 'singularity_img/trimgalore_latest.sif'
        memory = '500 MB'
        cpus = 2
        executor = 'lsf'
        queue = 'new-short'
    }
    
    withName:trimGalorePolyA {
        container = 'singularity_img/trimgalore_latest.sif'
        memory = '500 MB'
        cpus = 2
    }

    withName:moveUmi {
        container = 'singularity_img/trimgalore.sif'
        cpus = 1
    }
    
    withName:starDb {
        container = 'singularity_img/star.sif'
        memory = '15 GB'
        cpus = 20
    }
    
    
    withName:mappingStar {
        container = 'singularity_img/star.sif'
        memory = '5000 MB'
        cpus = 16

    }

    withName:subReadBefore {
        container = 'singularity_img/subread_latest.sif'
        memory = '500 MB'
        cpus = 1
    }

    withName:umitools2 {
        container = 'singularity_img/umitools_final.sif'
        cpus = 1
    }
    
    withName:subReadAfter {
        container = 'singularity_img/subread_latest.sif'
        memory = '500 MB'
        cpus = 1
    }
}

singularity {
    enabled = true
}



